<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from doccure-html.dreamguystech.com/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Mar 2021 19:28:41 GMT -->
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="/frontEnd/assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontEnd/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/fontawesome/css/all.min.css"
    />
    <link rel="stylesheet" href="/frontEnd/assets/css/style.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/frontEnd/assets/js/html5shiv.min.js"></script>
      <script src="/frontEnd/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
</html>
